:root {
    --t-header-bg-color: #303030;
    --t-header-color: #fff;
    --t-header-height: 100px;
    --t-left-panel-default-width: 250px;
    --t-left-panel-bg-color: #323641;
    --t-font-family: "Gilroy", 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--t-font-family);
    transition: all 170ms;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

[type='button'] {
    cursor: pointer;
}

a{
    text-decoration: none;
}

.link {
    color: #FF6A00;
    text-decoration: underline;
}

body {
    display: flex;
}

.img > img {
    width: 100%;
    height: 100%;
}

:focus {
    outline: none;
}

.toggler {
    width: 24px;
}

.toggler-icon {
    width: 100%;
    height: 100%;
}

.toggler-icon > span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    transition: 500ms;
}
.toggler-icon > span:not(:last-child) {
    margin-bottom: 5px;
}

li {
    list-style: none;
}

[main].container {
    height: 100vh;
    overflow: auto;
    background: #F4F4F4;
}

[main].container > .container {
    margin-left: 50px;
    margin-top: 60px;
}

b {
    font-size: 20px;
}

.line {
    display: flex;
    align-items: center;
}

.line.start {
    justify-content: flex-start;
}

.line.end {
    justify-content: flex-end;
}

.line.center {
    justify-content: center;
}

textarea {
    resize:vertical;
    min-height: 100px; 
}