@import url('./root.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth
}

.container {
    width: 90%;
    max-width: 1700px !important;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.btn.no-borders {
  border-top-left-radius:0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.img img {
    width: 100%;
    height: 100%;
}

.img {
    overflow: hidden;
}

#teachers .img {
    background: linear-gradient(to bottom, #E6E8E8, #999F9F);
}

ul li {
    list-style: none;
}

.text {
    font-weight: bold;
}

img {
    transition: all 350ms;
}

:focus {
    outline: none;
}

.burger {
    cursor: pointer;
    font-size: 20px;
}

.btn.light, .btn.sm {
    background: #fff;
}

.text.big {
    font-size: 60px;
}

.row {
    width: 100%;
    display: flex;
}

.marked {
    color: var(--s-main-color);
    font-weight: bold;
}

:is(main, header, footer)>.container {
    height: 100%;
}

.center:not(.top) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center.top {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    transition: all 300ms;
    border: none;
    cursor: pointer;
    color: #000;
    padding: 5px 10px;
    border-radius: 7px;
    user-select: none;
}

.btn.default {
    padding: 15px 37px;
    border-radius: 10px;
    background: var(--s-main-color);
    color: #fff;
    font-size: 16px;
}

.btn .fas {
    opacity: 0;
    transition: 250ms;
}

.btn.default:hover .fas {
    opacity: 1;
    transform: translateX(7px);
}

.btn.default:hover {
    box-shadow: var(--s-main-header-box-shadow);
    transform: translateX(-3px);
    background:  #28314B;
}

.container .title {
    font-size: 50px;
    font-weight: 500;
}

.container .title span {
    display: inline-block;
    max-width: 500px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.dots {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.dots .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.dots .dot:not(:last-child) {
    margin-right: 10px;
}

.absolute.img {
    position: absolute;
}

:is(.container, main)::after {
    content: attr(data-background-title);
    position: absolute;
    top: -50px;
    left: -15px;
    font-size: 212px;
    color: #1a1a1a;
    font-weight: bold;
    z-index: -1;
    opacity: .05;
    animation: movee 35s linear infinite;
}

.btn.default.dark:hover {
    background: #28314B;
}

@keyframes movee {
    0% {
        left: 0 !important;
    }
    50%{
        left: 300px
    }
    100% {
        left: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    :is(.container, main)::after {
        font-size: 70px !important;
    }
}

section {
    background: var(--s-main-background)
}

.splide__pagination {
  bottom: -25px;
}
