:root {
    --s-main-background: linear-gradient(90.59deg, #F7F7F7 60.85%, rgba(247, 247, 247, 0.869574) 73.51%, rgba(247, 247, 247, 0.682372) 79.04%, rgba(247, 247, 247, 0) 99.47%);
    --s-main-color: #FF6600;
    --s-profile-online-color: #0DF078;
    --s-offer-content-background: #28314B;
    --s-offer-content-offer-background: #3E465D;
    --s-cards-box-shadow:0px 4px 15px rgba(0, 0, 0, 0.1);
    --s-main-header-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    --s-background-texts-color: #1A1A1A;
    --s-background-texts-opacity: 0.05;
}