@import url('./default.css');
@import url('https://gists.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

/* main styles  */


/* header section starts */
header {
    width: 100%;
    height: var(--s-header-height);
    box-shadow: var(--s-main-header-box-shadow);
    position: relative;
    z-index: 10;
}

header .nav-links {
    display: flex;
    position: relative;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-links li {
    margin: 0 40px;
    height: 100%;
}

header .nav-links li:last-child {
    margin-right: 0;
}

header .nav-links li a.active {
    opacity: 1;
    position: relative;
}

header .nav-links li a.active::after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--s-main-color);
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 4px;
    transition: all 350ms;
}

header .nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    opacity: .7;
    transition: all 300ms;
}

header .nav-links li a:hover {
    opacity: 1;
}

header #move {
    height: 3px;
    position: absolute;
    top: 100%;
    background: var(--s-main-color);
    border-radius: 4px;
    transition: all 350ms;
    opacity: .9;
}

/* header sectuion ends */


/* main section starts */

main {
    height: calc(100vh - var(--s-header-height));
    background: var(--s-main-background);
    position: relative;
}

main .container::after {
    color: #fff !important;
    opacity: 1 !important;
}

main .container .context {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 625px;
    
}

main .absolute.img {
    position: absolute;
}

/* .shadow {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 10px 0 20px 10px rgba(255, 255, 255, 1)
} */

main .messages {
    top: 50%;
    z-index: 5;
    overflow: visible;
}

main .messages .message {
    display: flex;
    align-items: center;
    position: relative;
}
main .messages .message img{
    position: relative;
    z-index: 2;
}
main .messages .message p{
    padding: 10px 25px;
    background: #fff;
    border-radius: 10px;
    margin-left: -20px;
    position: relative;
    z-index: 1;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 999;
}

.modal-container .modal{
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
}

.modal-container .content {
    padding: 30px;
}
.modal-container .content p{
    margin-bottom: 10px;
}

.modal-container .content b span{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
}

/* main section ends */


/* why we section starts */

#whywe {
    background: var(--s-offer-content-background);
    padding-top: 50px;
    color: #fff;
}

#whywe .cards .card {
    width: 500px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    cursor: default;
}

.cards .card>span {
    display: inline-block;
    max-width: 200px;
    font-size: 30px;
    font-weight: 400;
    transition: all 200ms;
}

#whywe .cards .card .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--s-offer-content-offer-background);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: 250ms;
}

#whywe .cards .card .icon img {
    width: 35px;
}

#whywe .card:hover .icon {
    background: var(--s-main-color);
}

/* #whyWe section ends */


#courses {
    width: 100%;
    padding-top: 50px;
}

#courses .container::after {
    left: 50% !important;
    transform: translateX(-50%);
    color: #1a1a1a !important;
    opacity: .05
}

#courses .cards .card {
    max-width: 400px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: default;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    cursor: pointer;
    margin: 0 !important;
}

img {
    transition: all 350ms;
}

#courses .cards .card:hover .img.top.header img {
    transform: scale(1.1);
}

#courses .card ._title {
    font-size: 27px;
    font-weight: bold;
    position: relative;
}

#courses .card ._title::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 1px;
    background: var(--s-main-color);
}

#courses .cards .content {
    width: 90%;
    float: right;
    margin-top: 20px;
}

#courses .card .content ._descripton {
    max-width: 200px;
}

#results .container::after{
    left: 300px  !important;
    top: -150px !important;   
}

#results .cards {
    margin-top: 40px;
}

#results .cards .card {
    display: flex;
    cursor: pointer;
}

#results .cards .card:hover img {
    transform: scale(1.1);
}

#results .cards .card img {
    width: 250px;
    transition: all 200ms;
}

#results .score {
    margin-left: 30px;
}

#results .card .score p:not(.name) span:not(.marked) {
    opacity: 0.7;
}

#results .card .score p {
    font-size: 24px;
    width: 174px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score .name {
    font-weight: bold;
    font-size: 30px;
}

.score .band-score {
    margin-top: 55px;
    font-weight: bold;
}

#teachers {
    background: var(--s-offer-content-background);
    padding-top: 50px;
    color: #fff;
    padding-bottom: 100px;
}

#teachers>.container {
    display: flex;
    align-items: center;
}

#teachers .cards .card img {
    width: 300px;
}

#teachers .cards .card .content {
    background: #fff;
    color: #000;
    padding: 4px 10px;
}

#teachers .cards .name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

#teachers .card {
    width: 300px;
}

#teachers .cards :not(.name) {
    font-size: 20px;
}

#teachers .img {
    position: relative;
}

#teachers .img .share {
    position: absolute;
    bottom: 10px;
    left: 8px;
}

#teachers .card img {
    max-height: 300px;
}

#about-us .pupils .pupil-card {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

#about-us .pupil-card .top {
    display: flex;
    align-items: center;
}

.share .icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

.share .hidden .icon {
    margin-left: 10px;
}

.share .hidden {
    transition: all 250ms;
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.share .hidden.open {
    opacity: 1;
    width: 200px;
}

.share .icon:hover {
    background: var(--s-main-color);
    color: #fff;
}


#about-us {
    padding-top: 100px;
}

#about-us .container {
    position: relative;
}

#faq {
    padding-top: 50px;
    padding-bottom: 150px;
}

#faq .row {
    width: 100%;
    justify-content: space-between;
}

#faq .row .col {
    width: 49%;
    padding: 0;
}

#faq ul li span.question {
    font-size: 30px;
    cursor: pointer;
}

#faq ul li:first-child {
    border-radius: 0px 5px 0px 0px;
}

#faq ul li:last-child {
    border-radius: 0px 0px 5px 0px;
}

#faq li>div {
    display: flex;
    justify-content: space-between;
}

#faq ul {
    background: #fff;
}

#faq li span[button].collapse {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
}

#faq li span[button].collapse::after {
    content: '+'
}

#faq li {
    position: relative;
    border-left: 1px solid #000;
    padding: 15px 20px;
    transition: 250ms;
}

#faq li.active {
    border-left: 1px solid var(--s-main-color);
}

#faq li.active span.question {
    color: var(--s-main-color);
}

#faq li.active span[button].collapse {
    color: var(--s-main-color);
}

#faq li.active span[button].collapse::after {
    content: '-'
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery .col:hover img{
    transform: scale(1.2)
}

.gallery .row {
    display: flex;
    overflow: visible;
    margin-left: -9px;
    margin-top: 50px;
}

.gallery .row .col {
    height: 300px;
    max-width: 520px
}

.gallery .row .col .img {
    width: 100%;
    height: 100%;
}

.gallery .row .col {
    margin-left: 20px;
    margin-bottom: 20px;
}

.gallery .row .col img {
    width: 100%;
    height: 100%;
}

#contact {
    padding-bottom: 100px;
}

#contact .contact-container {
    width: 80%;
    margin: 20px auto;
    max-width: 1000px;
}

#contact .row {
    justify-content: center;
}

#contact .contact-container .col:first-child {
    background: var(--s-main-color);
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 40%;
}

#contact form{
    width: 100%;
}

#contact .absolute.img > div {
    width: 70px; 
     height: 70px; 
     background: var(--s-offer-content-background); 
     display: flex; 
     justify-content: center; 
    align-items: center;
    cursor: pointer;
}

#contact .absolute.img span::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00d";
}

#contact .absolute.img, #contact .absolute.img * {
    transition: 1000ms;
}
#contact .absolute.img._  {
    right: -70px !important;
}
#contact .absolute.img._ span::after {
    content: "\f0e0" !important;
}

#contact form > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


#contact .contact-container .col#col{
    background: #fff;
    width: 60%;
}
#contact .contact-container .col {
    padding: 90px 35px 50px 20px;
}

:is(#contact, form)  input, textarea {
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--s-offer-content-background);
    width: 47%;
    font-size: 18px;
}

:not(a) :focus {
    border-bottom: 2px solid var(--s-offer-content-background);
}

:is(#contact, form)  textarea {
    width: 100%;
}

#footer {
    background: var(--s-offer-content-background);
    padding-top: 25px;
    color: #fff;
}

#footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

#footer li a {
    color: #fff;
    opacity: .7;
    text-decoration: none;
    position: relative;
}

#footer li a::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    left: -20px;
    top: calc(50% - 5px / 2);
    transition: 250ms;
}

#footer li:hover a::after {
    left: -10px;
    opacity: .9;
}

:is(#contact, #footer) p .fas {
    margin-right: 20px;
}

:is(#footer, #contact) p a {
    color: #fff;
    text-decoration: none;
    transition: 200ms; 
}
:is(#footer, #contact) p {
    margin-bottom: 15px;
}

#footer li a:hover {
    opacity: 1;
}

#footer li._title span {
    font-size: 20px;
    color: #fff;
}



:is(#footer, #contact) .icon {
    font-size: 18px;
    width: 30px;
    height: 30px;
    outline: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 250ms;
}

:is(#footer, #contact) .icon:hover {
    outline: 1px solid gray;
}

:is(#footer, #contact) .icon:not(:first-child) {
    margin-left: 10px;
}



@media screen and (max-width: 991px) {
    #faq ul li span.question {
        font-size: 24px !important;
    }
    #footer .row {
        flex-direction: column;
    }
    #footer .row .col:not(:last-child) {
        margin-bottom: 20px;
    }
    
    :is(#contact, #footer) p .fas {
        margin-right: 13px;
    } 
}



@media screen and (max-width: 1124px) {
    header .nav-links li {
        margin: 0 10px !important;
    }
    header .nav-links {
        position: absolute !important;
        top: 100px !important;
        width: 100vw !important;
        padding: 20px !important;
        display: flex ;
        flex-direction: column;
        left: -6% !important;
        z-index: 15;
        background: #F7F7F7;
    }

    header .nav-links li:hover a {
        border-bottom: 2px solid var(--s-main-color);
    }

    header .nav-links li{
        padding: 10px;
    }
    header #move{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    main > .container::after {
        top: 0 !important;
    }
    #gallery .gallery .line {
        display: flex;
    }
    #contact form > div {
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    #contact form > div input{
        width: 100%;
        margin-bottom: 7px;
    }
    .gallery .row .col {
        height: 140px !important;
        max-width: 200px !important;
    }

    #results .cards .card img {
        width: 150px !important;
    }

    .row .col {
        width: 100% !important;
    }

    #faq {
        margin-bottom: 50px !important;
    }

    #faq ul li span.question {
        font-size: 20px !important;
    }

    #results .cards .card .score p {
        font-size: 20px;
        width: 100%;
    }

    .container .title {
        font-size: 30px !important;
    }

    .container .title>span {
        width: 100% !important;
    }

    .cards .card>span {
        font-size: 20px;
    }

    .text.big {
        font-size: 30px !important;
    }

    #teachers {
        padding: 40px 0 !important;
    }
    #whywe .cards .card {
        margin-bottom: 40px !important;
    }
}

@media screen and (max-width: 360px) {
    #results .cards .card img {
        width: 200px !important;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .gallery .line {
        flex-direction: column;
    }

    .gallery .row .col {
        margin-left: 0 !important;
        height: 140px !important;
        max-width: 100% !important;
    }

    #results .cards .card {
        flex-direction: column !important;
    }
}
    /* owl carousel default options */
    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 50px
    }
    
    .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #1a1a1a;
        display: block;
        opacity: .5;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px
    }
    
    .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #1a1a1a;
        opacity: 1
    }
    
    .owl-theme[light] .owl-dots .owl-dot span {
        background: #fff;
        opacity: .5
    }
    
    .owl-theme .owl-dots .owl-dot:hover span, .owl-theme[light] .owl-dots .owl-dot.active span {
        opacity: 1
    }
